@import "tailwindcss";

@font-face {
  font-family: 'Cupidus';
  font-style: normal;
  src: url('../src/assets/Cupidus-Extralight.ttf') format('truetype');
}

@theme {
  --font-sans: 'Cupidus', 'Switzer', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

body {
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
}
